.not-found-container
  h2
    i.glyphicon.glyphicon-alert
    span.spacer
    | Oups !
  h3 Page introuvable (404)
  p
    | Retournez à l'accueil du site :
    span.spacer
    a(href="/home")
      i.glyphicon.glyphicon-link
      | Accueil
